{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "16.3"
    }
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "rules": {
    "arrow-parens": 0,
    "linebreak-style": ["error", "unix"],
    "quotes": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-irregular-whitespace": "warn",
    "no-multiple-empty-lines": "off",
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "react/display-name": 0,
    "no-case-declarations": "off"
  },
  "globals": {
    "__dirname": false,
    "__filename": false,
    "process": false,
    "NODE_ENV": false,
    "Buffer": true
  }
}
