.button {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  border: none;
  outline: none;
}

.default {
  box-shadow: 0 5px 14px rgba(127, 136, 231, 0.63);
  background-color: #4e47ee;

  &:visited {
    box-shadow: 0 5px 14px rgba(127, 136, 231, 0.63);
    background-color: #4e47ee;
  }

  &:hover,
  &:focus {
    box-shadow: 0 4px 8px rgba(127, 136, 231, 0.63);
    background-color: #4e47ee;
    color: #fff;
  }

  &:active {
    background-color: #9f9fab;
    box-shadow: none;
  }
}

.null {
  width: auto;
  height: auto;
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.dark {
  background-color: #3b3a3a;
  border: 1px solid #3b3a3a;
  box-shadow: none;
  color: #fff;
  font-weight: 500;
  font-size: 10px;

  &:visited {
    background-color: #3b3a3a;
    border: 1px solid #3b3a3a;
    color: #fff;
  }

  &:hover, 
  &:focus {
    border: 1px solid #ff84c2;
    background-color: #ff84c2;
    color: #fff;
  }

  &:active {
    border: 1px solid #d2d2db;
    background-color: #fff;
    color: #3b3a3a;
  }
}

.md {
  height: 28px;
  width: 112px;
  border-radius: 43px;
}

.sm {
  height: 28px;
  border-radius: 35px;
  padding: 0 19px;
}
