:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --base-color: #ff6e61;
  --base-active-color: #e25b4f;
  --default-text-color: #000000;
  --light-gray-color: #fafafa;
  --blue-color: #3fa1ee;
  --blue-active-color: #5a9cd0;
  --disabled-color: #93a3b1;
  --disabled-active-color: #d9d9d9;
}
