.container {
  max-width: 1204px;
  margin-top: 38px;
}

.feed-container {
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 1199px) {
  .feed-container {
    padding: 0 32px;
    justify-content: space-between;

    /*&:after {
      content: '';
      flex: auto;
    }*/
  }
}

@media(max-width: 1024px) {
  .feed-container {
    padding: 0 14px;
  }
}

@media(max-width: 767px) {
  .feed-container {
    padding: 0 22px;
    justify-content: space-between;
  }
}

@media(max-width: 520px) {
  .feed-container {
    justify-content: center;
  }
}
