.container {
  max-width: 1204px;
  margin-top: 38px;
}

.root {
  @media (min-width: 1200px) {
    margin: 0 42px;
  }
}

.feed-container {
  display: flex;
  flex-wrap: wrap;
}

.icon-container {
  margin-right: 10px;
  width: 28px;
  height: 28px;
  border: 1px solid #e0e0e8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  .icon-main {
    display: block;
  }

  .icon-mobile {
    display: none;
  }
}

.feed {
  &-block {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__container {
      display: flex;
      flex-wrap: wrap;
      //margin: 0 -10px;
    }
  }

  &-divider {
    height: 1px;
    background: #e0e0e8;
    position: absolute;
    width: calc(100vw + 1204px);
    left: calc(1204px - 100vw);
    bottom: -23px;
  }

  &-more {
    color: #3b3a3a;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 0;
    border: none;
    background: none;
    outline: none;

    &-p--main {
      display: inline-block;
      margin: 0;
    }

    &-p--mobile {
      display: none;
      margin: 0;
    }

    &:visited {
      color: #3b3a3a;
      text-decoration: none;
    }

    &:active {
      .icon-container {
        border: 1px solid #3b3a3a;
      }
    }

    &:hover {
      .icon-container {
        border: none;
      }

      span {
        color: #4e47ee;
        text-decoration: underline;
      }
    }
  }

  &-header {
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
  }

  &-head {
    display: flex;
    align-items: center;
  }

  &-title {
    color: #3b3a3a;
    font-size: 26px;
    font-weight: 400;
    margin: 0 25px 0 0;
  }
}

@media (max-width: 1199px) {
  .feed-container {
    padding: 0 42px;
    justify-content: space-between;

    &:after {
      content: '';
      flex: auto;
    }
  }

  .feed-block__container {
    justify-content: space-between;

    &:after {
      content: '';
      flex: auto;
    }
  }
}

@media (max-width: 1024px) {
  .feed-container {
    padding: 0 28px;
  }
}

@media (max-width: 767px) {
  .feed-container {
    padding: 0 28px;
    justify-content: space-between;
  }

  .feed {
    &-title {
      font-size: 21px;
      margin: 0 10px 0 0;
    }

    &-more {
      border: 1px solid #d2d2db;
      border-radius: 24px;
      padding: 0 12px 0 5px;

      &--responsive {
        font-size: 13px;

        .icon-container {
          border: none;
          margin-right: 4px;
        }

        .icon-main {
          display: none;
        }

        .icon-mobile {
          display: block;
        }
      }

      &-p--main {
        display: none;
      }

      &-p--mobile {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 520px) {
  .feed-container {
    justify-content: center;
  }
}
