.header {
  height: 60px;
  border-bottom: 1px solid #e0e0e89c;
  padding: 0 42px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;

  &-collapse {
    width: 100%;
    background: rgba(78, 71, 238, 0.85);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    &-content {
      display: flex;
      height: calc(100% - 110px);
      flex-direction: column;
    }

    &-user {
      display: flex;
      align-items: center;

      p {
        margin: 0;
        color: #3b3a3a;
        font-size: 12px;
      }
    }

    &-head {
      padding: 18px 23px 23px 21px;
      border-bottom: 1px solid #e0e0e89c;
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    &-icon {
      position: absolute;
      right: 23px;
      top: 23px;
    }

    &-avatar {
      margin-right: 10px;

      img {
        width: 21px;
        height: 21px;
        border-radius: 50%;
      }
    }

    &-container {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      background: #fff;
      border-radius: 0 24px 24px 0;
    }
  }
}

.logo {
  width: 48px;
  margin-top: -2px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.button-create {
  &--mobile {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 184px;
    height: 46px;
    border-radius: 43px;
    font-size: 15px !important;
    width: 191px;
    height: 48px;
  }
}

.nav {
  margin: 0 0 0 50px;

  &-mobile {
    display: flex;
    flex-direction: column;
    margin: auto;

    .nav-item {
      text-align: center;
      margin: 0 0 32px 0;
      text-align: center;
      color: #3b3a3a;
      font-size: 22px;
    }
  }

  &-item {
    color: #9f9fab;
    font-size: 14px;
    font-weight: 400;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:active,
    &:focus {
      color: rgb(78, 71, 238);
    }

    &:visited {
      color: #3b3a3a;
    }
  }
}

.status-bar {
  display: flex;
  align-items: center;
}

.avatar {
  width: 29px;
  height: 29px;
  margin-left: 25px;
  border-radius: 50%;
}

.menu {
  display: none !important;
}

.badge {
  display: flex;
  align-items: center;
  color: #3b3a3a;
  font-size: 12px;
  height: 28px;
  padding: 0 9px;

  &-btn {
    margin-right: 7px;
    border-radius: 35px;
    border: 1px solid #e0e0e8 !important;

    &:hover,
    &:focus {
      background: transparent;
      border: 1px solid #3b3a3a;
    }

    &:active {
      opacity: 0.5;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-text {
    color: #3b3a3a;
    position: relative;
    top: 0px;
    height: 15px;
    margin-left: 5px;
  }
}

.logo--mobile {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 28px;

    &-collapse-container {
      width: 328px;
    }
  }

  .menu {
    display: block !important;
  }

  .logo {
    display: none;

    &--mobile {
      display: flex;
      margin-left: 28px;
      width: 66px;
    }
  }

  .nav {
    display: none;
  }

  .button {
    &-create {
      display: none;
    }
    &-avatar {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 28px;

    &-collapse-container {
      width: 257px;
    }
  }
}

.popup-author-badges {
  margin-top: 17px;
}
